<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>All Offers</title>
</head>
<body>

<nav class="navbar bg-dark navbar-dark">
    <div class="container">
        <a href="/index" class="navbar-brand">Your Account</a>
        <a href="/user-chosen-offers" class="navbar-brand">Selected Offers</a>
        <a href="/search-form" class="navbar-brand">Search For Offers</a>
        <a href="/all-offers-list" class="navbar-brand">All Offers</a>
        <a href="/registration-form" class="navbar-brand">Register new user</a>
        <a href="/login" class="navbar-brand">Log In</a>
        <a href="/logout" class="navbar-brand">Log Out</a>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid bg-info text-white text-center">
    <div class="container">
        <h4>User Details</h4>
    </div>
</div>



<div style="text-align: center">


            <img src="users-vector-icon-png_260862.jpg" th:src="@{'/avatar/' + ${userEntity.id} + '/image'}"  width="200" height="200"/>


    <form method="POST" action="/avatar" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <input type="submit" value="Submit" />
    </form>
</div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th> # </th>
            <th> Username </th>
            <th> Name </th>
            <th> Surname </th>
            <th> Email </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userEntity==null}">
            <td colspan="2"> No User Logged Error </td>
        </tr>

        <tr>
            <td><span th:text="${userEntity.id}"> 1 </span></td>
            <td><span th:text="${userEntity.username}"> Username </span></td>
            <td><span th:text="${userEntity.name}"> Name </span></td>
            <td><span th:text="${userEntity.surname}"> Surname </span></td>
            <td><span th:text="${userEntity.email}">Email</span></td>
        </tr>
        </tbody>
    </table>

</div>


<footer class="page-footer font-small bg-secondary text-white special-color-dark pt-4">


    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href=""> MikeVerba</a>
    </div>


</footer>

</body>
</html>
